# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
venv/
env/

# Ignore build directories
build/
dist/
*.egg-info/

# Ignore PyInstaller artifacts
*.spec

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log
